name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Test
        run: |
          export TEST_DEBUG=1
          export TEST_EXTRA_TAGS=" "
          bash ./scripts/run_tests.sh

      - name: Coverage Badge - Generate
        if: github.event_name != 'pull_request'
        uses: tj-actions/coverage-badge-go@v2
        with:
          filename: coverage-percent.out

      - name: Coverage Badge - Verify Changed files
        uses: tj-actions/verify-changed-files@v12
        id: verify-changed-files
        with:
          files: README.md

      - name: Coverage Badge - Commit changes
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add README.md
          git commit -m "chore: Updated coverage badge."

      - name: Coverage Badge - Push changes
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref }}

      - name: Markdown autodocs
        if: github.event_name != 'pull_request'
        uses: dineshsonachalam/markdown-autodocs@v1.0.7
        with:
          commit_message: "chore: update embedded blocks in README.md"

    services:
      mail_server:
        image: ghcr.io/deltachat/mail-server-tester:release
        ports:
          - 3025:25
          - 3143:143
          - 3465:465
          - 3993:993
